.stats_overview {
    /* background-color: var(--pis-cream, #fef6e4); */
    background-color: var(--bs-black);
    padding: 4rem 1rem;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.card {
    color: var(--pis-blue-light);
    border-radius: 0.5rem;
    padding: 2rem 1.5rem;
    text-align: center;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
}

.card_icon {
    font-size: 3rem;
    color: var(--pis-blue-light);
    margin-bottom: 1rem;
}

.card h4 {
    font-size: 1.2rem;
    font-weight: normal;
    color: var(--pis-blue-light);
    margin-bottom: 0.5rem;
}

.count .number {
    font-size: 2rem;
    font-weight: 600;
    color: var(--pis-yellow);
}

@media (max-width: 992px) {
    .container {
        grid-template-columns: repeat(3, 1fr);
    }

    .stats_overview {
        padding: 3rem 1rem;
    }
}

@media (max-width: 768px) {
    .container {
        grid-template-columns: repeat(2, 1fr);
    }


    .card h1 {
        font-size: 1rem;
    }

    .count .number {
        font-size: 1.5rem;
    }
}

@media (max-width: 450px) {
    .container {
        grid-template-columns: 1fr;
    }

}