.hero {
  height: 90vh;
  /* background-image: url(../../assets/images/heroBackground.jpg); */
  background-image: url(../../assets/images/image1.jpg);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  background-blend-mode: darken;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 1rem;
  overflow: hidden;
}

.container {
  display: flex;
  align-items: center;
  height: 100%;
}

.cont{
  width: 50%;
}

.hero_content {
  width: 100%;
  height: 13rem;
  position: relative;
  /* border: 2px solid red; */
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transform: scale(1.05);
  transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
}

.slide.active {
  opacity: 1;
  transform: scale(1);
  z-index: 1;
}

.hero_text h1 {
  font-size: 2rem;
  font-weight: 600;
  color: inherit;
  margin-bottom: 1rem;
}

.hero_text p {
  font-size: 1.25rem;
  color: inherit;
  margin-bottom: 1.5rem;
}

.hero_btn{
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 0.5rem;
  color: white;
  border-radius: 0.25rem;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.icon {
  display: grid;
  place-items: center;
  color: var(--pis-blue);
  font-size: 1.2rem;
  height: 2.5rem;
  width: 2.5rem;
  background-color: var(--pis-cream);
  /* border: 2px solid var(--pis-blue); */
  border-radius: 50%;
  transition: background-color 0.3s ease;
}

.link_text{
  font-size: 1.2rem;
}

.hero_btn:hover .icon {
  background-color: var(--pis-yellow);
}

.link_text::after {
  width: 100%;
  scale: 0;
  height: 1px;
  display: block;
  content: '';
  background-color: white;
  transition: scale 0.3s ease;
  transform-origin: right;
}

.hero_btn:hover .link_text::after {
  scale: 1;
  transform-origin: left;
}

@media (max-width: 992px) {

  .cont {
    width: 100%;
  }

  .hero_text h1 {
    font-size: 2.5rem;
  }

  .hero_text p {
    font-size: 1.1rem;
  }
}

@media (max-width: 600px) {
  .hero {
    height: 80vh;
  }

  .container {
    padding: 0 1rem;
  }

  .hero_text h1 {
    font-size: 1.5rem;
    margin-bottom: 0.75rem;
  }

  .hero_text p {
    font-size: 1rem;
  }
}