.hero {
  background-color: var(--pis-cream);
  padding: 4rem 0;
  text-align: center;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.hero_text h1 {
  font-size: 2.5rem;
  color: var(--pis-blue);
  margin-bottom: 1rem;
}

.hero_text p {
  font-size: 1.25rem;
  color: var(--bs-black);
}
